{% extends 'polls/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content_class %}content-exwide{% endblock %}

{% block content %}
<div class="homepage-layout">
    <img src="{% static 'polls/images/TU_Dublin_Logo.svg' %}" alt="TU Dublin Logo" class="homepage-logo">


    <h1 class="homepage-title">Make informed property investment decisions now</h1>
    <p class="homepage-lead">with Property Investment Assistant</p>
    <p class="homepage-subtitle">
        A data-driven application that helps investors and homebuyers identify high-value properties across Ireland
    </p>

    <div class="hero-buttons">
        <a href="{% url 'polls:property_calculator' %}" class="btn-primary">Start Exploring</a>
        <a href="{% static 'polls/docs/BusinessAnalyticsPracticalTemplate.pdf' %}" class="btn-secondary" download> Read Documentation</a>
    </div>

    <div class="example-wrapper">
        <img src="{% static 'polls/images/question.png' %}" alt="Question Icon" class="example-icon">
        <img src="{% static 'polls/images/example.png' %}" alt="Example Query" class="example-image">
    </div>
</div>
{% endblock %}
