<!DOCTYPE html> 
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Plot Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    <div class="background">
        <div class="content">
            <h1>Box Plot Analysis</h1>
            <h2>{{ selected_county }}</h2>

            {% if error %}
                <p>{{ error }}</p>
            {% else %}
                <div class="boxplot">
                    <h3>Rental Yield Box-Plot</h3>
                    <img src="data:image/png;base64,{{ graphic_rental }}" alt="Rental Yield Box Plot">
                </div>
                <div class="boxplot">
                    <h3>All Risk Yield Box-Plot</h3>
                    {% if graphic_all_risk %}
                        <img src="data:image/png;base64,{{ graphic_all_risk }}" alt="All Risk Yield Box Plot">
                    {% else %}
                        <p>No All Risk Yield data available.</p>
                    {% endif %}
                </div>
            {% endif %}

            <div class="button-container">
                <a href="{% url 'polls:property_calculator' %}" class="button">Back to Calculator</a>
                <a href="{% url 'polls:home' %}" class="select-button">Back to Homepage</a>
            </div>
        </div>
    </div>
</body>
</html>
