<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="background">
        <div class="content">
            <h1>Welcome to the Property Dashboard</h1>
            <p>Explore property statistics and more!</p>
            <a href="{% url 'polls:property_calculator' %}" class="home-button">Property Calculator</a>
        </div>
    </div>
</body>
</html>
