<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Calculator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="background">
        <div class="content">
            <h1>Property Calculator</h1>
            <!-- Filter Form -->
            <form method="get">
                <!-- County Selection -->
                <label for="county">County:</label>
                <select id="county" name="county">
                    <option value="">Select County</option>
                    {% for county in counties %}
                    <option value="{{ county }}" {% if county == selected_county %}selected{% endif %}>{{ county }}</option>
                    {% endfor %}
                </select>

                <!-- Bedrooms Selection -->
                <label for="bedrooms">Bedrooms:</label>
                <select id="bedrooms" name="bedrooms">
                    <option value="">Select Bedrooms</option>
                    {% for bedroom in bedroom_options %}
                    <option value="{{ bedroom }}" {% if selected_bedrooms|default_if_none:'' == bedroom|stringformat:"s" %}selected{% endif %}>
                        {{ bedroom }}
                    </option>
                    {% endfor %}
                </select>

                <button type="submit">Filter</button>
            </form>

            <!-- Display Results -->
            <ul>
                <li><strong>Average Rent Price:</strong> {{ rent_avg_price }}</li>
                <li><strong>Average Sale Price:</strong> {{ sale_avg_price }}</li>
                <li><strong>Rental Yield:</strong> {{ rental_yield }}</li>
                <li><strong>All Risk Yield for 5 year investment:</strong> {{ all_risk_yield }}</li>
            </ul>

            <!-- Button -->
            <div class="button-container">
                <a href="{% url 'polls:information' %}" class="button">Information</a>
                <a href="{% url 'polls:home' %}" class="button">Back to Homepage</a>
            </div>
        </div>
    </div>
</body>
</html>
